@using LoanCalc.Models
@model LoanTable
<div class="container">
    <div class="row table-responsive">
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Monthly Payment</th>
                    <th>Principle Amount</th>
                    <th>Interest Amount</th>
                    <th>Total Interest Paid</th>
                    <th>Remaining Balance</th>
                </tr>
            </thead>
            <tbody>
           @foreach (PaymentSummary summary in Model.TableData) {
                <tr>
                    <td>@summary.Month.ToString()</td>
                    <td>@summary.PaymentAmount.ToString("C")</td>
                    <td>@summary.PrinciplePaymentAmount.ToString("C")</td>
                    <td>@summary.InterestPaymentAmount.ToString("C")</td>
                    <td>@summary.TotalInterestPaid.ToString("C")</td>
                    <td>@summary.RemainingBalance.ToString("C")</td>
                </tr>
            }
            </tbody>
            
        </table>
    </div>
</div>

